click==8.1.7 ; python_version >= "3.8"
colorama==0.4.6 ; python_version >= "3.8"
exceptiongroup==1.2.0 ; python_version < "3.11" and python_version >= "3.8"
flake8==5.0.4 ; python_version >= "3.8"
iniconfig==2.0.0 ; python_version >= "3.8"
mccabe==0.7.0 ; python_version >= "3.8"
numpy==1.24.4 ; python_version >= "3.8"
packaging==23.2 ; python_version >= "3.8"
pandas==2.0.3 ; python_version >= "3.8"
pluggy==1.3.0 ; python_version >= "3.8"
pycodestyle==2.9.1 ; python_version >= "3.8"
pyflakes==2.5.0 ; python_version >= "3.8"
pytest==7.4.4 ; python_version >= "3.8"
python-dateutil==2.8.2 ; python_version >= "3.8"
pytz==2023.3.post1 ; python_version >= "3.8"
pyvcf3==1.0.3 ; python_version >= "3.8"
setuptools==69.0.3 ; python_version >= "3.8"
shellingham==1.4.0 ; python_version >= "3.8"
six==1.16.0 ; python_version >= "3.8"
tomli==2.0.1 ; python_version < "3.11" and python_version >= "3.8"
typer-cli==0.0.13 ; python_version >= "3.8"
typer==0.4.2 ; python_version >= "3.8"
typer[all]==0.4.2 ; python_version >= "3.8"
tzdata==2023.4 ; python_version >= "3.8"
